.card  {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 300px;
  height: 100%;
  background: linear-gradient(135deg, transparent 30px, #1698d9 30px, #1698d9 0);

  @media (min-width: $tablet-width) {
    width: 320px;
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  padding-top: 18px;
  overflow: hidden;
  //background-color: #f2f2f2;
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 30px, #f2f2f2 0);
  border-radius: 8px;
}



.card__desc {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 4px;
  font-size: 16px;
  color: #666666;
}

.card__title {
  margin: 0;
  margin-left: 43px;
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}

.card__subtitle {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.card__info {
  margin-left: 46px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.2px;/*херня какая-то*/
  line-height: 16px;
  color: #666666;
}

.card__weight-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 12px;
  right: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #1698d9;
  color: #ffffff;
  z-index: 1;
}

.card__weight-value {
  margin-top: 8px;
  font-size: 40px;
}

.card__weight-unit {
  font-size: 20px;
  margin-top: -5px;
}

.card__image {
  display: block;
  margin-top: auto;
  margin-left: -27px;
  margin-bottom: -91px;
}
