.product {
  margin: 0 auto;
  padding-top: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1125px;
}

.product__title {
  @include font(36px, 56px);
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  width: 100%;
  text-align: center;
  font-family: "Exo2Thin", "Arial", sans-serif;
  font-weight: 100;
  color: #ffffff;
}

.product__card {
  margin-bottom: 20px;
}

.product__info {
  @include font(13px, 16px);
  text-align: center;
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
}

.product__info-link {
  color: #1698d9;
  text-decoration-style: dashed;
}
