.product {
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.product__title {
  margin: 0;
  width: 100%;
  margin-bottom: 22px;
  text-align: center;
  font-family: "Exo2Thin", "Arial", sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: #fff;
}

.product__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-content: center;*/
  align-items: stretch;

  @media (min-width: $tablet-width) {
    margin: 0 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
  }
}

.product__card {
  margin-bottom: 15px;
}

.product__info {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
}

.product__info-link {
  color: #1698d9;
  text-decoration-style: dashed;
}
