@charset "UTF-8";
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  /*по макету 325*/
  min-height: 480px;
  padding-top: 20px;
  /*background-color: #f2f2f2;*/
  background-image: url("../img/border.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /*clip-path:
    polygon(22% 0, 100% 0, 100% 100%, 0 100%, 0 22%);*/
  /*border-radius: 15px;*/
  /*border: 4px solid #1698d9;*/
  /*background: linear-gradient(135deg, transparent 23px, #1698d9 23px, #1698d9 27px, #f2f2f2 0);
  /*box-shadow: inset 0px 0px 0px 4px #1698d9;
  border-top-left: 0;*/
  overflow: hidden; }

.card__desc {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 4px;
  font-size: 16px;
  color: #666666; }

.card__title {
  margin: 0;
  margin-left: 50px;
  font-size: 48px;
  font-weight: 700;
  color: #000000; }

.card__subtitle {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: #000000; }

.card__info {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 0.2px;
  /*херня какая-то*/
  line-height: 16px;
  color: #666666; }

.card__weight-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #1698d9;
  color: #ffffff; }

.card__weight-value {
  margin-top: 8px;
  font-size: 40px; }

.card__weight-unit {
  font-size: 20px;
  margin-top: -5px; }

.card__image {
  width: 320px;
  margin-top: auto; }
  .card__image img {
    display: block;
    margin-top: 40px;
    margin-left: -25px; }
