body {
  font-family: "Trebuchet MS";
  font-weight: 400;
  background-color: #1b1b1b;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
